/* Import Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Variables */
:root {
  --text-color: #EEEEEE;
  --second-text-color: #b2afaf;
  --main-color: #00ADB5;
  --bg-button-color: #393E46;
  --bg-color: #222831;
  --features-section-background: #222831;
}

/* Reset Elements */
a,
ul,
li {
  text-decoration: unset;
  color: var(--text-color);
  list-style: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

img {
  user-select: none;
}

::selection {
  background-color: var(--main-color);
  color: black;
}

body {
  font-family: 'Poppins', sans-serif;
}



/* START GLOBAL STYLE ELEMENT  */
.title {
  border: 2px solid var(--text-color);
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  color: var(--main-color);
}

.title::before,
.title::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--text-color);
  top: 50%;
  transform: translate(-50%, -50%);
  border: var(--main-color) solid;
}

.title::before {
  left: 0;
}

.title::after {
  left: 100%;
}

/* END GLOBAL STYLE ELEMENT  */

/* Start Setting Section */
.setting-box {
  box-shadow: 0px 0px 6px 0px var(--main-color);
  height: 100vh;
  width: 220px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -220px;
  background-color: #00000092;
  transition: .3s;
}

.settings-container {
  padding: 0 8px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Comments: Styling for the colors section */
.settings-container h2.colors {
  color: var(--main-color);
  background: #090c0e;
  opacity: .98;
  padding: 15px;
  margin: 8px auto;
  border-top-right-radius: 45px;
  filter: drop-shadow(4px 1px 1px var(--main-color));
  /* Color for h2 elements in the settings container */
}

/* Comments: Styling for the random background images options */
.background-images-random_options>h2 {
  color: var(--text-color);
  font-size: .7rem;
  padding: 2px 8px;
}

.background-images-random_options .action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.background-images-random_options .action button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
  border: 1px solid var(--main-color);
  width: 40%;
  padding: 4px 8px;
  position: relative;
  transition: .3s;
}

.background-images-random_options .action button::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--text-color);
  top: 0;
  left: 0;
  transition: .3s;
  overflow: hidden;
  z-index: -1;
}

.background-images-random_options .action button:hover {
  color: var(--main-color);
}

.background-images-random_options .action button:hover::before,
.background-images-random_options .action button.active::before {
  width: 100%;
}

.setting-box.open {
  left: 0;
}

/* Comments: Toggle settings button styling */
.toggle-setting {
  position: absolute;
  left: 100%;
  top: 20%;
  width: 50px;
  display: grid;
  place-items: center;
  height: 50px;
  border: 1px solid var(--main-color);
  border-left: 0px;
  display: grid;
  place-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #00000072;
}

.toggle-setting .fa-gear {
  color: var(--main-color);
}

#setting {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul.colorsItems {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
}

ul.colorsItems>li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transition: .3s;
}

ul.colorsItems>li:hover {
  transform: scale(1.2);
}

/* Comments: Define different color options with hover effects */
ul.colorsItems>li:first-child {
  background-color: #00ADB5;
}

ul.colorsItems>li:first-child:hover {
  filter: drop-shadow(2px 2px 7px #00ADB5);
}

ul.colorsItems>li:nth-child(2) {
  background-color: #FFBB5C;
}

ul.colorsItems>li:nth-child(2):hover {
  filter: drop-shadow(2px 2px 7px #FFBB5C);
}

ul.colorsItems>li:nth-child(3) {
  background-color: #96C291;
}

ul.colorsItems>li:nth-child(3):hover {
  filter: drop-shadow(2px 2px 7px #96c291);
}

ul.colorsItems>li:nth-child(4) {
  background-color: #EA1179;
}

ul.colorsItems>li:nth-child(4):hover {
  filter: drop-shadow(2px 2px 7px #EA1179);
}

ul.colorsItems>li:last-child {
  background-color: #B799FF;
}

ul.colorsItems>li:last-child:hover {
  filter: drop-shadow(2px 2px 7px #B799FF);
}

ul.colorsItems>li.active {
  opacity: 1;
  filter: drop-shadow(0px 0px 6px var(--main-color));
}

/* End Setting Section */

/* Styling for the landing page */
.landing-page {
  padding: 10px;
  background-color: #000000b9;
  width: 100%;
  height: 100vh;
  background-blend-mode: overlay;
  background-image: url("../images/landing2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.header-area {
  display: flex;
  align-items: center;
  gap: 2em;
}

.logo {
  user-select: none;
  width: 60px;
  display: flex;
  align-items: center;
}

.logo img {
  min-width: 40px;
  max-width: 100%;
  max-height: 100%;
}

nav {
  flex: 1;
}

nav .links {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
  padding: 0 20px;
}

nav .links li a {
  transition: .3s;
  font-weight: bold;
  font-size: 1rem;
}

nav .links li a:hover,
nav .links li.active a {
  color: var(--main-color);
}

.introduction-text {
  color: var(--text-color);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 200px;
}

.introduction-text h1 {
  text-transform: uppercase;
  margin: 0 0 .22rem 0;
}

span.highlighter {
  color: var(--main-color);
  font-weight: 900;
}

.introduction-text p {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
}

/* Landing Page Responsive Design */
@media(max-width:767px) {
  .landing-page {
    flex-direction: column;
  }

  .header-area {
    flex-direction: column;
    padding: 10px;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.355);
    gap: 4em;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
  }

  nav .links {
    flex-direction: column;
    height: 40vh;
  }

  nav .links li {
    height: 25%;
    width: 90%;
    text-align: center;
    padding: 8px;
    transition: .3s;
    cursor: pointer;
    display: grid;
    place-items: center;
    border: 1px solid transparent;

  }

  nav .links li a {
    font-weight: bold;
    font-size: 1.2rem;
  }

  nav .links li:hover {
    background-color: #00000070;
    border: solid 1px var(--text-color);
  }

  nav .links li:hover a {
    color: var(--main-color);
  }

  .logo {
    width: 120px;
  }

  .introduction-text {
    display: none;
  }
}

/* Start Container  */
.container {
  width: 100%;
  margin: 0px auto;
  padding: 10px 20px;
  color: var(--text-color);
}

/* Start Features Section */
.features {
  margin: 0px auto;
  padding: inherit;
  background-color: var(--features-section-background);
  width: 100%;
  margin: 30px auto;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
  margin: 40px auto;
}

.feature {
  padding: 20px;
  border: solid 1px var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.feature:hover {
  box-shadow: inset 0px 0px 16px var(--main-color);
}

.feature h4 {
  text-transform: uppercase;
}

.feature p {
  text-transform: capitalize;
  color: var(--second-text-color);
}

.icon .icon-font {
  color: var(--main-color);
  border: 2px solid var(--second-text-color);
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 50px;
}

/* End Features Section */


/* Start About Section  */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: inherit;
  gap: 20px;
  background-color: var(--about-section-background);
  margin: 30px auto;
  position: relative;
}


.about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: inherit;

}



.about .content {
  min-height: 400px;
}

@media (max-width: 767px) {
  .about .about-content {
    flex-direction: column;
  }

  .about .about-content .image {
    flex-basis: 100%;
    padding: 20px;
  }

  .about .about-content .image img {
    max-width: 80%;
  }

  .about .about-content .content {
    flex-basis: 100%;
    text-align: center;
  }

}

.about .about-content .image {
  flex-basis: 40%;
  padding: inherit;
  text-align: center;
}

.about .about-content .image img {
  max-width: 90%;
  filter: drop-shadow(1px 1px 70px var(--main-color));
  cursor: pointer;
  transition: .4s;
}

.about .about-content .image img:hover {
  filter: drop-shadow(1px 1px 20px var(--main-color));

}

.about .about-content .content {
  flex-basis: 45%;
  padding: inherit;
}

.about .about-content .content h3 {
  font-size: 2rem;
  color: var(--main-color);
  text-transform: uppercase;
}

.about .about-content .content p {
  text-transform: capitalize;
  line-height: 1.5;

}

/* End About Section  */


/* End Container  */